.row {
    display: flex;
}

.pic-divider{
    width: 20px;
    height: 15px;
}

.image-container {
    position: relative;
}

.image-container,
.portfolio-pic {
    width: 300px;
}

.image-label {
    position: absolute;
    width: 100%;
    color: white;
    background: #4aaaa5;
    text-align: center;
    bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18pt;
    text-decoration-line: none;
}

.image-label:hover {
    background: #666666;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .image-container,
    .portfolio-pic {
        width: 250px;
    }
}

@media screen and (max-width: 640px) {
    .row {
        display: inline;        
    }

    .image-container,
    .portfolio-pic {
        margin: auto;
        width: 300px;
    }
}

@media screen and (max-width: 520px) {

    .image-container,
    .portfolio-pic {
        width: 250px;
    }
}

@media screen and (max-width: 400px) {

    .image-container,
    .portfolio-pic {
        width: 150px;
    }
}

/* End */